@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,600&display=swap');

// COLORES
$headline :#094067;


// MODAL
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.85);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .close-modal{
        position: fixed;
        right: 0;
        top: 0;
        margin: 1.5rem;
        background: #fff;
        border-radius: 3px;
        padding: 1rem 1.2rem;
        cursor: pointer;
        i{
            font-size: 1.5rem;
            color: #094067;
        }
    }
    .info-modal{
        background-color: #fff;
        padding: 4rem 2rem;
        width: 400px;
        h2{
            padding-bottom: 0.5rem;
            font-size: 1.5rem;
        }
        div{
            p{
                font-size: 1rem;
                margin: 1rem 0 0.5rem 0;
            }
            ul{
                margin: 1rem 0;
                list-style: none;
            }
        }
    }
}
.copiado{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
    .texto-copiado{
        margin: 2rem;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        cursor: pointer;
        padding: 1rem;
        box-shadow: 2px 2px 2.2px rgba($color: #000000, $alpha: 0.5);
        background-color: #fffffe;
        border-radius: 3px;
        p{
            font-size: 1rem;
        }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    font-size: 16px;
    background-color: #fffffe;
}
.navbar{
    width: 100%;
    height: 5.5rem;
    nav{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 1fr 1fr 30%;
        align-items: center;
        left: 0;
        top: 0;
        height: 100%;
        a.logo{
            grid-column: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            padding: 0.75rem;
            img{
                width: 20%;
                vertical-align: top;
                object-fit: cover;
                margin-left: 0.5rem;
                margin: 0 1rem;
                transform: scale(1);
            }
            h2{
                margin-right: 0.5rem;
                color: $headline;
            }
        }
        div.enlaces{
            display: flex;
            grid-column: 4/5;
            z-index: 5;
            justify-content: center;
            align-items: center;
            button{
                padding: 10px 15px;
                background: #3da9fc;
                border: none;
                font-size: 1rem;
                outline: none !important;
                color: #fff;
                cursor: pointer;
                font-weight: 600;
                margin: 0 1rem;
            }
            a{
                text-decoration: none;
                color: $headline;
                font-weight: 600;
                margin: 0 1rem;
                font-size: 1.05rem;
            }
        }
    }
}
.main{
    width: 100%;
    height: 85.95vh;
    .contenedor{
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        width: 90%;
        align-items: center;
        .lado{
            width: 50%;
            &.lado-izquierdo{
                padding: 1.25rem;
                h2{
                    color: $headline;
                    font-size: 3rem;
                }
                p{
                    color: #094067;
                    margin: 1.35rem 0;
                    font-size: 1rem;
                    font-weight: 500;
                }
                a{
                    text-decoration: none;
                    padding: 10px 20px;
                    background-color: #3da9fc;
                    border-radius: 3px;
                    color: #fff;
                    display: inline-block;
                }
            }
            &.lado-derecho{
                padding: 1.25rem;
                div{
                    svg{
                        width: 100%;
                        #Azul{
                            animation: rotate 10s infinite linear;
                            transform-origin: center;
                            transform-box: fill-box;
                            cursor: pointer;
                        }
                        #Rojo{
                            animation: rotatereverted 18s infinite linear;
                            transform-origin: center;
                            transform-box: fill-box;
                            cursor: pointer;
                        }
                        #Verde{
                            animation: rotate 7s infinite linear;
                            transform-origin: center;
                            transform-box: fill-box;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes rotatereverted{
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}

.informacion{
    background: #d8eefe;
    padding: 2rem 0;
    .contenedor{
        margin: 0 auto;
        width: 98%;
        padding: 1.5rem;
        display: flex;
        .filtros{
            width: 15%;
            border-right: 1px solid rgba($color: #000000, $alpha: 0.3);
            ul{
                margin: 0 auto;
                text-align: center;
                list-style: none;
                li{
                    button{
                        text-decoration: none;
                        padding: 20px 60px;
                        outline: none;
                        cursor: pointer;
                        border: 3px solid #fff;
                        border-radius: 3px;
                        display: inline-block;
                        margin: 0.75rem 0;
                        transform: scale(1);
                        &:active{
                            transform: scale(0.975);
                        }
                        &#a{
                            background-color: #ff1000;
                        }
                        &#b{
                            background-color: #ff5200;
                        }
                        &#c{
                            background-color: #ff9c00;
                        }
                        &#d{
                            background-color: #ffc600;
                        }
                        &#e{
                            background-color: #fbeb00;
                        }
                        &#f{
                            background-color: #deff00;
                        }
                        &#g{
                            background-color: #18ff06;
                        }
                        &#h{
                            background-color: #00a08c;
                        }
                        &#i{
                            background-color: #004aff;
                        }
                        &#j{
                            background-color: #8408ff;
                        }
                        &#k{
                            background-color: #94009c;
                        }
                        &#l{
                            background-color: #bd006b;
                        }
                    }
                }
            }
        }
        .content{
            width: 85%;
            padding: 1.5rem;
            .a-content{
                display: block;
            }
            .b-content,.c-content,.d-content,.e-content,.f-content,.g-content,.h-content,.i-content,.j-content,.k-content,.l-content{
                display: none;
            }
            h3{
                color: #001e1d;
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
                span#ColorTxt{
                    font-size: 1rem;
                    background-color: rgba($color: #fff, $alpha: 0.75);
                    margin: 0 1rem;
                    border-radius: 3px;
                    padding: 8px 15px;
                }
            }
            #grid-system{
                display: grid;
                margin-top: 2.75rem;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 5%;
                .columna-of-a,.columna-of-b,.columna-of-c,.columna-of-d,.columna-of-e,.columna-of-f,.columna-of-g,.columna-of-h,.columna-of-i,.columna-of-j,.columna-of-k,.columna-of-l{
                    padding: 0.5rem;
                    div{
                        width: 100%;
                        height: 8rem;
                        border: 3px solid #ffffff;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                    input{
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
footer{
    background: #fffffe;
    padding: 3.5rem;
    text-align: center;
    a{
        color: #333;
    }
}


@media all and (max-width: 1252px){
    .navbar nav a.logo img{
        width: 15%;
    }
    .main .contenedor .lado.lado-izquierdo h2{
        font-size: 2.5rem;
    }
    .main .contenedor .lado.lado-izquierdo p{
        font-size: 0.9rem;
        margin-inline-end: 1rem 0;
    }
    .navbar nav div.enlaces button{
        font-size: 0.9rem;
        padding: 8px 13px;
    }
    .navbar nav div.enlaces a{
        font-size: 0.9rem;
    }
}

@media all and (max-width: 1080px){
    .informacion .contenedor .content #grid-system{
        grid-gap: 3%;
    }
    .informacion .contenedor .content h3{
        font-size: 1.25rem;
    }
}

@media all and (max-width: 1000px){
    .informacion .contenedor .content #grid-system{
        grid-gap: 0.05%;
    }
    .informacion .contenedor{
        padding: 0.75rem;
    }
    .informacion .contenedor .filtros ul li button{
        padding: 16px 44px;
    }
    .main .contenedor .lado.lado-izquierdo h2{
        font-size: 2rem;
    }
    .navbar nav{
        grid-template-columns: 40% 1fr 1fr 40%;
    }
}

@media all and (max-width: 930px){
    .informacion .contenedor .content #grid-system{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 4%;
    }
    .informacion{
        padding: 4rem 0;
    }
    .main .contenedor .lado.lado-izquierdo h2{
        font-size: 1.75rem;
    }
    footer{
        font-size: 0.9rem;
    }
}

@media all and (max-width: 830px){
    .informacion .contenedor .content #grid-system{
        grid-gap: 1%;
    }
    .navbar nav div.enlaces{
        grid-column: 2/3;
    }
    .navbar nav{
        grid-template-columns: repeat(2,1fr);
    }
    .navbar nav a.logo{
        padding: 1rem;
    }
    .navbar nav a.logo{
        justify-content: flex-start;
    }
    .navbar nav div.enlaces{
        justify-content: flex-end;
    }
}

@media all and (max-width: 800px){
    .informacion .contenedor{
        display: block;
    }
    .informacion .contenedor .filtros{
        width: 100%;
        border: none;
    }
    .informacion .contenedor .filtros ul{
        flex-wrap: wrap;
        div.primerflex{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        li{
            flex-wrap: wrap;
            margin: 0 0.75rem;
        }
    }
    footer{
        font-size: 0.8rem;
    }
    .informacion .contenedor .content{
        width: 100%;
    }
}

@media all and (max-width:750px){
    .informacion .contenedor .filtros ul li{
        margin: 0 0.25rem;
    }
    .informacion .contenedor .filtros ul{
        width: 90%;
        margin: 1rem auto;
    }
    .informacion .contenedor .content #grid-system .columna-of-a div, .informacion .contenedor .content #grid-system .columna-of-b div, .informacion .contenedor .content #grid-system .columna-of-c div, .informacion .contenedor .content #grid-system .columna-of-d div, .informacion .contenedor .content #grid-system .columna-of-e div, .informacion .contenedor .content #grid-system .columna-of-f div, .informacion .contenedor .content #grid-system .columna-of-g div, .informacion .contenedor .content #grid-system .columna-of-h div, .informacion .contenedor .content #grid-system .columna-of-i div, .informacion .contenedor .content #grid-system .columna-of-j div, .informacion .contenedor .content #grid-system .columna-of-k div, .informacion .contenedor .content #grid-system .columna-of-l div{
        height: 7rem;
    }
    .main .contenedor .lado{
        width: 100%;
    }
    footer{
        font-size: 0.775rem;
    }
    .main .contenedor .lado.lado-derecho{
        display: none;
    }
    .main .contenedor .lado.lado-izquierdo a{
        padding: 6px 13px;
        font-size: 0.9rem;
    }
    .navbar nav a.logo h2{
        font-size: 1.1rem;
    }
}

@media all and (max-width:500px){
    .navbar nav div.enlaces a, .navbar nav div.enlaces button{
        margin: 0 0.25rem;
    }
    .informacion .contenedor .filtros ul div.primerflex{
        flex-direction: row-reverse;
    }
    .informacion .contenedor .content #grid-system{
        grid-gap: 0;
    }
}

@media all and (max-width:400px){
    .informacion .contenedor .content #grid-system{
        grid-template-columns: repeat(1,1fr);
    }
}

